.editGroup input{
    font-size: 30px;
}
.editGroup button{
    font-size: 25px;
}
.buttons{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.my_status{
    padding: 10px;
}