.userPhoto{
    width: 150px;
    height: 150px;
    float: left;
    padding: 10px;
}

.users{
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
}

.userCard{
    padding: 5px;
}
.followButton{
    font-size: 20px;
}