.description {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px;
    height: 300px;
    position: relative;
}

.contacts {
    padding-left: 30px;
    font-size: 30px;
}


.status {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 30px;
    font-size: 1.17em;
    height: 50px;

}

.name_status {
    font-weight: bold;
}