.main_pic {
    width: 1000px;
    height: 500px;
}

.ava_pic {
    width: 300px;
    float: left;
    padding: 0 20px 0 0;
}

.description {
    padding: 30px;
    height: 300px;
    position: relative;
}

.contacts {
    padding-left: 30px;
    font-size: 30px;
}

.work_status img {
    width: 50px;
    height: 50px;
    float: left;
}

.work_status {
    height: 70px;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 40px;
    left: 35%;
}
.work_status .text{
    padding-left: 10px;
    top:50%
}
.status{
    display:flex;
    padding: 5px;
    flex-direction:row;
    flex-wrap:wrap;
}